<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streambase | Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" />
  <script src="/javascript/index.js" defer></script>
</head>

<body class="container bg-dark ff-sans-cond text-white">
  <%- include('partials/header.ejs', { loggedIn: login }); %>
  <%- include('partials/loginModal.ejs') %>
  <main class="main-details" style="background-image: url(' <%= `${imageURL}w1280${results.backdrop_path}` %>');">
    <div class="main-details--background">
      <div class="main-details--container flex">

        <div class="main-details-text">
          <img class="details-poster" src="<%= `${imageURL}w342${results.poster_path}` %>">
          <div class="meta-container">
            <div>
              <h3 class="media-title fs-500"><%= results.name || results.title %></h3>
              <div>
                <h6>Genres:</h6>
                <% results.genres.forEach((genre, i) => { %>
                <% if (i < results.genres.length -1) { %>
                <span><%= genre.name + " | " %></span>
                <%} else {%>
                <span><%= genre.name %></span>
                <%}%>
                <%})%>
              </div>
              <div>
                <h6>Release Date:</h6>
                <p><%= results.release_date || results.first_air_date %></p>
              </div>
              <div>
                <h6>Runtime: </h6>
                <p><%= results.runtime || results.episode_run_time[0] %> min.</p>
              </div>
              <%if (results.created_by) {%>
              <div>
                <h6>Created By:</h6>
                <% results.created_by.forEach((creator, i) => { %>
                <% if (i < results.created_by.length -1) { %>
                <span><%= creator.name + ", " %></span>
                <%} else {%>
                <span><%= creator.name %></span>
                <%}%>
                <%})%>
              </div>
              <%} else {%>
              <div>
                <h6>Director:</h6>
                <span><%= credits[0] ? credits[0].name : ''%></span>
              </div>
              <%}%>
              </div>
          </div>
          
        </div>
        <div class="provider-container flex">
          <div>
            <% if (providers && providers.flatrate) { %>
              <h6>Stream: </h6>
              <% providers.flatrate.forEach(provider => { %>
              <img class="provider-image" src="<%= `${imageURL}original${provider.logo_path}` %>" alt="<%= provider.provider_name %>">
              <% }) %>
              <%}%>
          </div>
          <div>
            <% if (providers && providers.rent) { %>
              <h6>Rent:</h6>
              <% providers.rent.forEach(provider => { %>
              <img class="provider-image" src="<%= `${imageURL}original${provider.logo_path}` %>" alt="<%= provider.provider_name %>">
              <% }) %>
              <%}%>
          </div>
          <div>
            <% if (providers && providers.buy) { %>
              <h6>Buy: </h6>
              <% providers.buy.forEach(provider => { %>
              <img class="provider-image" src="<%= `${imageURL}original${provider.logo_path}` %>" alt="<%= provider.provider_name %>">
              <% }) %>
              <%}%>
          </div>
        </div>
      </div>
      <div class="details-synopsis">
        <h5 class="fs-500">Synopsis:</h5>
        <p class="details-synopsis--text"><%= results.overview %></p>
      </div>
    </div>
  </main>
  <section>
    <% if (trailers.length > 0) {%>
      <h3 class="section-title">Trailers</h3>
      <div class="details-trailers flex">
        <% trailers.forEach(trailer => { %>
          <iframe 
            loading="lazy" 
            src="https://www.youtube.com/embed/<%= trailer.key %>&autoplay=1"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;
              bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}
            </style><a href=https://www.youtube.com/embed/<%= trailer.key%>?autoplay=1><img src=https://img.youtube.com/vi/<%= trailer.key%>/hqdefault.jpg 
              alt='<%= trailer.name %>'><span>▶</span></a>"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        <%})%>
      </div>
    <%}%>
    
  </section>
  <section>
    <h3 class="section-title">Similar</h3>
    <%- include('partials/scroller.ejs', {media: similar}); %>
  </section>