<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streambase | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/javascript/index.js" defer></script>
  </head>

  <body class="container bg-dark ff-sans-cond">
    <%- include('partials/header.ejs') %>
    <div class="content-container">
      <section class="carousel-container">
        <h4 class="text-white">What are you going to watch today?</h4>
          <div class="slides-container">
            <div class="carousel flex">
              <% for (let i = 0; i < nowPlaying.length / 2; i++) { %> <% loading =
              i > 3 ? 'lazy' : ''; %>
              <div class="slide-card relative text-white">
                <img
                  class="slide-backdrop"
                  loading="<%= `${loading}` %>"
                  srcset="<%= `${imageURL}w780${nowPlaying[i].backdrop_path} 780w,
                ${imageURL}w1280${nowPlaying[i].backdrop_path} 1280w` %>"
                  width="1280px"
                  height="720px"
                  alt=""
                />
                <h3 class="movie-title fs-500"><%= nowPlaying[i].title %></h3>
                <div class="movie-overview">
                  <p class="movie-overview--limit fs-300"><%= nowPlaying[i].overview %></p>
                </div>
                <button class="more-info fs-300">More</button>
              </div>
              <% } %>
            </div>
            <div class="slide-dot-container flex">
              <span id="slide-1" class="slide-dot active"></span>
              <span id="slide-2" class="slide-dot"></span>
              <span id="slide-3" class="slide-dot"></span>
              <span id="slide-4" class="slide-dot"></span>
              <span id="slide-5" class="slide-dot"></span>
              <span id="slide-6" class="slide-dot"></span>
              <span id="slide-7" class="slide-dot"></span>
              <span id="slide-8" class="slide-dot"></span>
              <span id="slide-9" class="slide-dot"></span>
              <span id="slide-10" class="slide-dot"></span>
            </div>
          </div>
      </section>
      <section>
        <h3 class="section-title">Popular TV</h3>
        <%- include('partials/scroller.ejs', { shows: popularTv, imageURL: imageURL }); %>
      </section>
      <section class="bg-medium">
        <h3 class="section-title">New Trailers</h3>
        <%- include('partials/trailerScroller', {movies: upcoming, imageURL: imageURL}); %>
      </section>
    </div>
  </body>
</html>
