<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streambase | Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" />
  <script src="/javascript/index.js" defer></script>
  <script src="/javascript/searchPagination.js" defer></script>
</head>

<body class="container bg-dark ff-sans-cond">
 
  <%= console.log("this is results", results[0]) %>
 
  <%- include('partials/header.ejs', { loggedIn: login }); %>
  <%- include('partials/loginModal.ejs') %>
  <main class="main-search">
    <div class="results-container flex">
      <% results.map(media => { %>
      <div class="result-item">
        <%- include('partials/mediaCard.ejs', { media: media }); %>
        <div class="result-item--info flex">
          <h4 class="fs-500"><%= media.name || media.title %></h4>
          <span><%= media.release_date || media.first_air_date %></span>
          <p><%= media.overview %></p>
        </div>
      </div>
      <%  }); %>
    </div>
    <form action="/search" method="GET">
      <input name="query" type="hidden" value="road" />
      <input name="page" type="hidden" value="2" />
      <input type="submit">
    </form>
  </main>
  <%- include('partials/footer.ejs'); %>
  <script src="/javascript/ejs.js"></script>
  <script >
    let options = {
    rootMargin: '0px',
    threshold: 1.0,
};
const resultsContainer = document.querySelector('.results-container');

const loadMore = async () => {
   
    try {
        const response = await fetch("/search?" + new URLSearchParams({
            query: 'road',
            page: 2,
        }));
        let data =  await response.json();

    data.results.results.map(media => {
      let mediaType = '';
      if (media.mediaType) {
        mediaType = media.mediaType 
      }else if (media.name) {
        mediaType = 'tv';
      } else {
        mediaType = 'movie';
      } 
        const resultsItem = document.createElement('div').classList.add('result-item');
        const mediCard = document.createElement('div').classList.add('media-card');
        const anchor = document.createElement('a');
        anchor.href = `/details/${mediaType}/${media.id}`
        const mediaPoster = document.createElement('img').classList.add('media-poster');
        const resultItemInfo = document.createElement('div').classList.add('result-item--info');
        const title = document.createElement('h4');
        title.classList.add('fs-500');
        title.innerText = media.title || media.name;
        const releaseDate = document.createElement('span');
        const overview = document.createElement('p');

        resultsContainer.appendChild(title);
      })
   
  
    } catch(err) {
        console.log("script tag", err);
    }
}

let observer = new IntersectionObserver(loadMore, options);
observer.observe(document.querySelector('.footer-logo'))
  </script>