<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streambase | Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" />
  <script src="/javascript/index.js" defer></script>
  <script src="/javascript/searchPagination.js" defer></script>
</head>

<body class="container bg-dark ff-sans-cond">
 
  <%= console.log("this is results", results[0]) %>
 
  <%- include('partials/header.ejs', { loggedIn: login }); %>
  <%- include('partials/loginModal.ejs') %>
  <main class="main-search">
    <div class="results-container flex">
      <% results.map(media => { %>
      <div class="result-item">
        <%- include('partials/mediaCard.ejs', { media: media }); %>
        <div class="result-item--info flex">
          <h4 class="fs-500"><%= media.name || media.title %></h4>
          <span><%= media.release_date || media.first_air_date %></span>
          <p><%= media.overview %></p>
        </div>
      </div>
      <%  }); %>
    </div>
  </main>
  <%- include('partials/footer.ejs'); %>

  
  <script >
    // Options for IntersectionObserver
  const options = {
    rootMargin: '0px 0px 10%',
    threshold: 1,
  };

  // Container to append results
  const resultsContainer = document.querySelector('.results-container');

  // Page number generator
  const page = (function() {
    let p = 1;
    return function() {
      return p += 1;
    }
  })();

  // Load more function for infinite scroll
  const loadMore = async () => {
    const query = '<%= query %>';
    try {
      const response = await fetch(`/search?${new URLSearchParams({ query, page: page() })}`);
      const data = await response.json();

      data.results.forEach(media => {
        const resultItem = document.createElement('div');
        resultItem.classList.add('result-item');

        const mediaCard = document.createElement('div');
        mediaCard.classList.add('media-card');

        const anchor = document.createElement('a');
        anchor.href = `/details/${media.mediaType || (media.name ? 'tv' : 'movie')}/${media.id}`;

        const mediaPoster = document.createElement('img');
        mediaPoster.classList.add('media-poster');
        mediaPoster.setAttribute('loading', 'lazy');
        mediaPoster.setAttribute('srcset', `https://image.tmdb.org/t/p/w342${media.poster_path} 342w, https://image.tmdb.org/t/p/w500${media.poster_path} 500w`);
        mediaPoster.setAttribute('sizes', '(max-width: 500px) 342px, 500px');
        mediaPoster.setAttribute('height', '750');
        mediaPoster.setAttribute('width', '500');
        mediaPoster.setAttribute('alt', media.title || media.name);

        anchor.appendChild(mediaPoster);
        mediaCard.appendChild(anchor);
        resultItem.appendChild(mediaCard);

        const resultItemInfo = document.createElement('div');
        resultItemInfo.classList.add('result-item--info', 'flex');
        resultItem.appendChild(resultItemInfo);

        const title = document.createElement('h4');
        title.classList.add('fs-500');
        title.innerText = media.title || media.name;
        resultItemInfo.appendChild(title);

        const releaseDate = document.createElement('span');
        releaseDate.innerText = media.release_date || media.first_air_date;
        resultItemInfo.appendChild(releaseDate);

        const overview = document.createElement('p');
        overview.innerText = media.overview;
        resultItemInfo.appendChild(overview);

        resultsContainer.appendChild(resultItem);
      });
    } catch (err) {
      console.log('Script error:', err);
    }
  };

  const observer = new IntersectionObserver(([entry]) => {
    if (entry.isIntersecting) {
      loadMore();
    }
  }, options);
  observer.observe(document.querySelector('.footer-logo'));


  </script>